##############################
# BC2 PHONE MINER CONFIG
##############################

# Pool
POOL_HOST="bobfarm.ddns.net"
POOL_PORT="3333"

# Wallet
WALLET="YOUR_WALLET_HERE"

# Worker (auto-filled by installer)
WORKER=""

# Pool password
POOL_PASS="x"

# Miner
ALGO="sha256d"
THREADS="8"
EXTRA_FLAGS=""
